---
const data = Array(4).fill({

    src: "/clients.svg",
    alt: ""

})
---
<section class="py-24">
    <div class="relative flex overflow-x-hidden">
        <div class="flex items-center animate-marquee whitespace-nowrap">
            {

                data.map( ( item ) => {

                    return (
                        <div class="flex px-14 py-4">
                            <div>
                                <img
                                    src={ item.src }
                                    alt={ item.alt }
                                    class="size-24"
                                />
                            </div>
                        </div>

                    )

                })

            }
        </div>
        <div class="flex items-center absolute top-0 animate-marquee2 whitespace-nowrap">
            {

                data.map( ( item ) => {

                    return (
                        <div class="flex px-14 py-4">
                            <div>
                                <img
                                    src={ item.src }
                                    alt={ item.alt }
                                    class="size-24"
                                />
                            </div>
                        </div>

                    )

                })

            }
        </div>
    </div>
</section>
