<section class="bg-blue-600 h-screen">
  	<div class="container mx-auto px-6 py-12 text-white">
    	<div class="text-center space-y-4">
      		<h1 class="text-5xl font-bold">
        		We’re an official Flutter Consultant.
      		</h1>
      		<p class="text-xl">
        		Google’s Flutter directory is officially live, find out how this impacts our clients.
      		</p>
      		<button class="mt-4 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        		Learn more
      		</button>
      		<div class="flex justify-center space-x-2">
				<span class="h-3 w-3 bg-white rounded-full"></span>
				<span class="h-3 w-3 bg-white rounded-full"></span>
				<span class="h-3 w-3 bg-white rounded-full"></span>
				<span class="h-3 w-3 bg-white rounded-full"></span>
				<span class="h-3 w-3 bg-white rounded-full"></span>
      		</div>
    	</div>
  	</div>
</section>
