---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import H2 from "../../atoms/H2.astro"
import Button from "../../atoms/Button.astro"
---
<section>
    <Container>
        <div class="grid grid-cols-2 gap-20 py-20">
            <div class="w-full aspect-square bg-zinc-200">
                <img
                    src=""
                    alt=""
                    class="w-full h-full"
                />
            </div>
            <div class="flex flex-col gap-8 justify-center">
                <H2>Digital transformation that truly makes a difference.</H2>
                <p class="text-lg text-white">
                    Looking for a tech solution that revitalises your processes and bolsters your business objectives? Look no further. Combining expertise in UXR, UI/UX, engineering, cloud and data science with creative flair, a curious mindset and a passion for human progress through technology – we tackle complex problems to create profound results.
                </p>
                <Button>How we do it</Button>
            </div>
        </div>
    </Container>
</section>
