---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import H3 from "../../atoms/H3.astro"

// IMPORT ASTRO COMPONENTS
import Work from "./Work.astro"
import Button from "../../atoms/Button.astro"

const work = Array(3).fill({

    title: "Harnessing innovative AI technology to create ‘The Ultimate Team Talk’.",
    cta_text: "Retail",
    color: "rgb(209, 240, 86)",
    src: "/under-armour.png",
    alt: "",
    logo_src: "/under-armour-logo.png",
    logo_alt: "",
    category: ""
})
---
<section>
    <Container>
        <div class="py-20 space-y-10">
            <H3>Check out our latest work</H3>
            <div class="grid grid-cols-3 gap-8">
                {

                    work.map( ( data ) => {

                        return (
                            <Work
                                src={ data.src }
                                alt={ data.alt }
                                logo_src={ data.logo_src }
                                logo_alt={ data.logo_alt }
                                title={ data.title }
                                category={ data.cta_text }
                                color={ data.color }
                            />
                        )

                    })

                }
            </div>
            <div class="flex justify-end pt-6">
                <Button>Show me more</Button>
            </div>
        </div>
    </Container>
</section>
