---
import Container from "../../layouts/Container.astro";
const array = Array(11).fill(0);
---
<section class="bg-black">
    <Container>
        <div class="py-20">
            <h2 class="text-3xl font-semibold mb-10 text-white">Our services</h2>
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
                    {

                    array.map((value) => {

                            return (
                                <div class="flex items-center justify-center p-4 border border-white hover:bg-yellow-500 cursor-pointer rounded-3xl py-20">
                                    <div class="flex flex-col items-center gap-2">
                                        <div class="bg-zinc-200 w-8 aspect-square">
                                            <img
                                                src=""
                                                alt=""
                                                class="w-8 aspect-square"
                                            />
                                        </div>
                                        <h3 class="text-xl font-extrabold text-white">Mobile Apps</h3>
                                    </div>
                                </div>
                            )
                        })
                    }
                </div>
            </div>
        </div>
    </Container>
</section>
