---
// IMPORT ASTRO LAYOUTS
import Container from "../../layouts/Container.astro"

// IMPORT ASTRO ATOMS
import H3 from "../../atoms/H3.astro"
import H6 from "../../atoms/H6.astro"

const array = Array(9).fill(0)
---
<section class="bg-black">
    <Container>
        <div class="py-20 space-y-10">
            <H3>The industries we’ve worked with.</H3>
            <p class="text-white">Digital transformation isn’t limited to any one particular industry. We work with companies spanning a wide range of sectors to help them unleash their full potential through human-centred global tech solutions. Whether you’re looking to captivate target audiences, gain competitive edge or simply carry on doing what you do best and let technology take care of the rest, we can work together to unearth your unique pain points and make your business ambitions a reality.</p>
            <div>
                <div class="grid grid-cols-4 gap-8">
                    {

                    array.map((value) => {

                            return (
                                <div class="flex items-center justify-center p-4 border border-white hover:bg-yellow-500 cursor-pointer rounded-3xl py-20">
                                    <div class="flex flex-col items-center gap-2">
                                        <div class="bg-zinc-200 w-8 aspect-square">
                                            <img
                                                src=""
                                                alt=""
                                                class="w-8 aspect-square"
                                            />
                                        </div>
                                        <H6>Energy</H6>
                                    </div>
                                </div>
                            )
                        })
                    }
                </div>
            </div>
        </div>
    </Container>
</section>
