---
// IMPORT ASTRO ATOMS
import H5 from "../../atoms/H5.astro"

const {

    alt,
    category,
    color,
    logo_alt,
    logo_src,
    src,
    title,

} = Astro.props
---
<div class="rounded-3xl overflow-hidden shadow-lg">
    <div class="bg-zinc-200 w-full aspect-[3/2]">
        <img
            src={ src }
            alt={ alt }
            class="w-full h-full object-cover"
        />
    </div>
    <div class={`p-10 space-y-8`} style={{ "background-color": color }}>
        <div class="bg-zinc-200 w-20 aspect-video">
            <img
                src={ logo_src }
                alt={ logo_alt }
                class="w-full h-full object-cover"
            />
        </div>
        <H5>{ title }</H5>
        <button class="h-10 flex justify-center items-center rounded-xl bg-white/80  px-4 text-sm">{ category }</button>
    </div>
</div>
