<section class="bg-blue-600 text-white">
    <footer class="container mx-auto px-6 pt-10 pb-6">
        <div class="flex flex-wrap justify-between">
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <ul>
                    <li><a href="#" class="hover:text-blue-300">Get in touch</a></li>
                    <li><a href="#" class="hover:text-blue-300">Data security</a></li>
                    <li><a href="#" class="hover:text-blue-300">Privacy</a></li>
                    <li><a href="#" class="hover:text-blue-300">Cookie Policy</a></li>
                </ul>
            </div>
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <h5 class="uppercase mb-2 font-bold">Newcastle, UK</h5>
                <p>Generator Studios, Newcastle Upon Tyne, NE1 2LA</p>
                <p>0333 2423132</p>
            </div>
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <h5 class="uppercase mb-2 font-bold">Newcastle, UK</h5>
                <p>Generator Studios, Newcastle Upon Tyne, NE1 2LA</p>
                <p>0333 2423132</p>
            </div>
            <div class="w-full md:w-1/4 mb-6 md:mb-0">
                <h5 class="uppercase mb-2 font-bold">Newcastle, UK</h5>
                <p>Generator Studios, Newcastle Upon Tyne, NE1 2LA</p>
                <p>0333 2423132</p>
            </div>
            <div class="w-full pt-8 md:pt-0">
                <div class="flex justify-center md:justify-start">
                    <!-- Social Icons -->
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                    <a href="#" class="hover:text-blue-300 mr-6">X</a>
                </div>
                <p class="text-sm text-center md:text-left mt-4 md:mt-0">
                    ©2023 hedgehog lab - hedgehog lab Limited is a private limited company registered in England and Wales with company registration number 05993194. The registered office is at Generator Studios, Trafalgar Street, Newcastle Upon Tyne, NE1 2LA.
                </p>
            </div>
        </div>
    </footer>
</section>
