---
// IMPORT ASTRO COMPONENTS
import SocialIcon from "./SocialIcon.astro"
---
<div class="flex gap-4">
    <SocialIcon
        src="/icons/x.svg"
        alt=""
        href="https://twitter.com/hedgehoglab"
    />
    <SocialIcon
        src="/icons/instagram.svg"
        alt=""
        href="https://www.instagram.com/hedgehog_lab/"
    />
    <SocialIcon
        src="/icons/linkedin.svg"
        alt=""
        href="https://www.linkedin.com/company/hedgehog-lab/"
    />
    <SocialIcon
        src="/icons/facebook.svg"
        alt=""
        href="https://www.facebook.com/hedgehoglabhq"
    />
    <SocialIcon
        src="/icons/youtube.svg"
        alt=""
        href="https://www.youtube.com/c/Hedgehoglab"
    />
    <SocialIcon
        src="/icons/threads.svg"
        alt=""
        href="https://www.threads.net/@hedgehog_lab"
    />
</div>
